/* global */
input{
	width:260px;
}

/* search */
.search_filter{
	display:none;
}
.search_filter label{
   display:inline-block;	
}
.search_filter select{
   display:inline-block;	
}

/* search and view */
input#textSearch{
	width:460px;
}



/* create */

.file-box{ 
	position:relative;
	width:364px;
	height:30px;
	clear:both;
	display:inline-block;
	/*padding: 5px;*/
} 
input#fileUploadItemImage{
	position:absolute; 
	top:-8px; 
	left:95px;
	width:133px; 
	height:28px; 
	/*filter:alpha(opacity:0);*/
	opacity: 0;
}

input#c_ItemName, input#c_ItemCode,input#c_ItemClassCode, input#c_ItemPicName{
	width:260px;
}
select#c_ItemClassCode, #c_ItemClassCode_2, select#c_ItemStatusId{
	width:260px;
}


/* update */

form#uploadForm_update{
	float: left;
}

input#fileUploadItemImage_update{
	position:absolute; 
	top:-7px; 
	left:86px;
	width:128px; 
	height:28px; 
	/*filter:alpha(opacity:0);*/
	opacity: 0;
	
}

input#u_ItemName, input#u_ItemCode, input#u_ItemClassCode, input#u_ItemPicName{
	width:260px;
}
select#u_ItemClassId, #u_ItemClassId_2, select#u_ItemStatusId, select#u_ItemSpecSelector{
	width:260px;
}


/* delete */
input#d_ItemName, input#d_ItemCode, input#d_ItemClassCode, input#d_ItemPicName, input#d_ItemStatusName{
	width:260px;
}

select#d_ItemStatusId{
	width:260px;
}



/* image create */
.item-create{
	width:400px;
	/*height:247px;*/
	height:242px;
}


/* === table content === */

/* === image style === */
/* image thumbnail */
.itemThumbnail-container{
	margin:0px;
	padding:0px;	
}
.item-thumbnail{
	/* width:160px; */
	/* height:120px; */
	max-width:160px; 
	max-height:120px;
	width:expression(this.width>160&&this.width>this.height?160:auto); 
	height:expression(this.width>120?120:auto); 
	
	

}

/* === column style === */
/* itemStatus*/
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.item-shadow {
	-webkit-box-shadow: 10px 11px 9px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 11px 9px -10px rgba(0,0,0,0.75);
box-shadow: 10px 11px 9px -10px rgba(0,0,0,0.75);
}
